<div class="jumbotron home slideInRight">
    <img class="monkey" src="images/monkey.png" alt="monkey">
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

    <div class="list-group fade-in" ng-repeat="item in articles track by $index" ng-click="go2Article(item.articleId)"
         ng-mouseover="mouseOverArticle = true" ng-mouseleave="mouseOverArticle = false">
        <a href="" class="list-group-item" ng-class="{active:mouseOverArticle}">
            <h3 class="list-group-item-heading">{{item.title}}</h3>
            <p class="list-group-item-text">{{item.content}}</p>
        </a>
    </div>
</div>